.square {
    border: 2px outset gray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    min-height: 5rem;
    font-size: 2rem;
    margin: 0;
}

.frame {
    border: 3px double black;
    padding: .5rem;
}

.controls {
    display: flex;
}

.answer-form {
    display: flex;
    align-items: center;
}

.answer-input {
    margin: .25rem;
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
}

.answer-input.correct {
    background-color: green;
}

.answer-input.wrong {
    background-color: red;
}



.filters {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
   cursor: pointer;
   margin: .5rem;
   padding: .2rem;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   background-color: ghostwhite;
   border: 1px solid black;
   min-width: 2.5rem;
}