.square {
    border: 1px solid red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    min-height: 5rem;
    font-size: 2rem;
    margin: 0;
}

.frame {
    display: flex;
    border: 3px double black;
    padding: .5rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
   cursor: pointer;
   margin: .5rem;
   padding: .2rem;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   background-color: ghostwhite;
   border: 1px solid black;
   min-width: 2.5rem;
}